<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <form class="form new-project-form">
        <div class="form-group">
          <label for="project-name">Enter Username:</label>
          <input class="form-input" type="text" id="project-name" name="project-name" />
        </div>
        <div class="form-group">
          <label for="project-funding">Battle Level:</label>
          <input class="form-input" type="number" id="project-funding" name="project-funding" />
        </div>
        <div class="form-group">
          <label for="project-desc">Description:</label>
          <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
        </div>

      <div class="form-group">
        <div class="menu-container bg-primary">
          <div class="game-style-menu">
            {{!-- Stratagem menu options --}}
            <div class="menu-heading">Support Weapons:</div>
            <div class="weapon-options support-weapons">
              <label class="menu-item weapon-option draw-border stratagem-option">
                <img src="/images/stratagems/machine-gun.svg" alt="Weapon 1">
              </label>
              <label class="menu-item weapon-option draw-border stratagem-option">
                <img src="/images/stratagems/anti-material-rifle.svg" alt="Weapon 2">
              </label>
              <label class="menu-item weapon-option draw-border stratagem-option">
                <img src="/images/stratagems/stalwart.svg" alt="Weapon 3">
              </label>
              <label class="menu-item weapon-option draw-border stratagem-option">
                <img src="/images/stratagems/expendable-anti-tank.svg" alt="Weapon 4">
              </label>
              <label class="menu-item weapon-option draw-border stratagem-option">
                <img src="/images/stratagems/recoilless-rifle.svg" alt="Weapon 5">
              </label>
              <label class="menu-item weapon-option draw-border stratagem-option">
                <img src="/images/stratagems/flamethrower.svg" alt="Weapon 6">
              </label>

              <label class="menu-item weapon-option draw-border stratagem-option">
                <img src="/images/stratagems/autocannon.svg" alt="Weapon 6">
              </label>

              <label class="menu-item weapon-option draw-border stratagem-option">
                <img src="/images/stratagems/heavy-machine-gun.svg" alt="Weapon 6">
              </label>

              <label class="menu-item weapon-option draw-border stratagem-option">
                <img src="/images/stratagems/railgun.svg" alt="Weapon 6">
              </label>

              <label class="menu-item weapon-option draw-border stratagem-option">
                <img src="/images/stratagems/spear.svg" alt="Weapon 6">
              </label>
            </div>


            {{!-- Orbital Cannons menu options --}}
            <div class="menu-heading">Orbital Cannons:</div>
            <div class="weapon-options orbital-cannon-weapons">
              <label class="menu-item weapon-option draw-border orbital-cannon-option">
                <img src="/images/stratagems/orbital-gatling-barrage.svg" alt="Orbital Cannons 1">
              </label>

              <label class="menu-item weapon-option draw-border orbital-cannon-option">
                <img src="/images/stratagems/orbital-airburst-strike.svg" alt="Orbital Cannons 2">
              </label>

              <label class="menu-item weapon-option draw-border orbital-cannon-option">
                <img src="/images/stratagems/orbital-120mm-he-barrage.svg" alt="Orbital Cannons 3">
              </label>

              <label class="menu-item weapon-option draw-border orbital-cannon-option">
                <img src="/images/stratagems/orbital-380mm-he-barrage.svg" alt="Orbital Cannons 4">
              </label>

              <label class="menu-item weapon-option draw-border orbital-cannon-option">
                <img src="/images/stratagems/orbital-walking-barrage.svg" alt="Orbital Cannons 5">
              </label>
              <label class="menu-item weapon-option draw-border orbital-cannon-option">
                <img src="/images/stratagems/orbital-laser.svg" alt="Orbital Cannons 6">
              </label>

              <label class="menu-item weapon-option draw-border orbital-cannon-option">
                <img src="/images/stratagems/orbital-railcannon-strike.svg" alt="Orbital Cannons 7">
              </label>
            </div>


            {{!-- Hangar menu options --}}
            <div class="menu-heading">Hangar:</div>
            <div class="weapon-options hangar-weapons">
              <label class="menu-item weapon-option draw-border hangar-option">
                <img src="/images/stratagems/eagle-strafing-run.svg" alt="hangar 1">
              </label>

              <label class="menu-item weapon-option draw-border hangar-option">
                <img src="/images/stratagems/eagle-airstrike.svg" alt="hangar 2">
              </label>

              <label class="menu-item weapon-option draw-border hangar-option">
                <img src="/images/stratagems/eagle-cluster-bomb.svg" alt="hangar 3">
              </label>

              <label class="menu-item weapon-option draw-border hangar-option">
                <img src="/images/stratagems/eagle-napalm-airstrike.svg" alt="hangar 4">
              </label>

              <label class="menu-item weapon-option draw-border hangar-option">
                <img src="/images/stratagems/jump-pack.svg" alt="hangar 5">
              </label>
              <label class="menu-item weapon-option draw-border hangar-option">
                <img src="/images/stratagems/eagle-smoke-strike.svg" alt="hangar 6">
              </label>

              <label class="menu-item weapon-option draw-border hangar-option">
                <img src="/images/stratagems/eagle-110mm-rocket-pods.svg" alt="hangar 7">
              </label>

              <label class="menu-item weapon-option draw-border hangar-option">
                <img src="/images/stratagems/eagle-500kg-bomb.svg" alt="hangar 7">
              </label>
            </div>

            {{!-- Bridge menu options --}}
            <div class="menu-heading">Bridge:</div>
            <div class="weapon-options bridge-weapons">
              <label class="menu-item weapon-option draw-border bridge-option">
                <img src="/images/stratagems/orbital-precision-strike.svg" alt="bridge 1">
              </label>

              <label class="menu-item weapon-option draw-border bridge-option">
                <img src="/images/stratagems/orbital-gas-strike.svg" alt="bridge 2">
              </label>

              <label class="menu-item weapon-option draw-border bridge-option">
                <img src="/images/stratagems/orbital-ems-strike.svg" alt="bridge 3">
              </label>

              <label class="menu-item weapon-option draw-border bridge-option">
                <img src="/images/stratagems/orbital-smoke-strike.svg" alt="bridge 4">
              </label>

              <label class="menu-item weapon-option draw-border bridge-option">
                <img src="/images/stratagems/hmg-emplacement.svg" alt="bridge 5">
              </label>
              <label class="menu-item weapon-option draw-border bridge-option">
                <img src="/images/stratagems/shield-generator-relay.svg" alt="bridge 6">
              </label>

              <label class="menu-item weapon-option draw-border bridge-option">
                <img src="/images/stratagems/tesla-tower.svg" alt="bridge 7">
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Loadout</button>
      </div>

    </form>
  </div>
  {{!-- Loadout card starts here --}}
  <div class="col-md-6">
    <h3>Create your loadout</h3>
    <div class="card-container">
      <div class="card">
        <p class="card_name"><a class="card_badge">{{title}}</a>{{name}}</p>
        <img id="main-avatar-image" src="/images/avatar1.png" alt="Person" class="card__image_1">
        <div class="grid-container">
          <div class="grid-child-wins">
            {{winCount}} WINS
          </div>
          <div class="grid-child-losses">
            {{lossCount}} LOSSES
          </div>
        </div>
        <!-- Add an id to the target image -->
        <ul class="social-icons">
          <li><a href="#"><img id="stratagem" src="/images/stratagems/anti-material-rifle.svg" alt="Stratagem"
                class=""></a></li>
          <li><a href="#"><img id="orbital_cannon" src="/images/stratagems/anti-material-rifle.svg" alt="Cannons"
                class=""></a></li>
          <li><a href="#"><img id="hangar" src="/images/stratagems/anti-material-rifle.svg" alt="Hangar" class=""></a>
          </li>
          <li><a href="#"><img id="bridge" src="/images/stratagems/anti-material-rifle.svg" alt="Bridge" class=""></a>
          </li>
        </ul>
      </div>
    </div>
    {{!-- Avatar selecting happens here --}}
    <div class="">
      <h3>Choose Avatar</h3>
       <ul class="avatar-icons">
          <li><a href="#"><img id="avatar1" src="/images/avatar1.png" alt="Person" class="avatar_image"></a></li>
          <li><a href="#"><img id="avatar2" src="/images/avatar2.png" alt="Person" class="avatar_image"></a></li>
          <li><a href="#"><img id="avatar3" src="/images/avatar3.png" alt="Person" class="avatar_image"></a></li>
          <li><a href="#"><img id="avatar4" src="/images/avatar4.png" alt="Person" class="avatar_image"></a></li>
          <li><a href="#"><img id="avatar5" src="/images/avatar5.png" alt="Person" class="avatar_image"></a></li>
          <li><a href="#"><img id="avatar6" src="/images/avatar1.png" alt="Person" class="avatar_image"></a></li>
        </ul>
    </div>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Loadouts:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2 bg-primary d-sm-inline-flex">
      <div class="col-md-12 pa">
        <ul class="social-icons">
          <img id="main-avatar-image" src="{{project.avatar_image}}" alt="Person" class="card__image_1">
          <li><a href="#"><img id="stratagem" src="{{project.stratagem_image}}" alt="Stratagem"
                class=""></a></li>
          <li><a href="#"><img id="orbital_cannon" src="{{project.orbital_cannon_image}}" alt="Cannons"
                class=""></a></li>
          <li><a href="#"><img id="hangar" src="{{project.hangar_image}}" alt="Hangar" class=""></a>
          </li>
          <li><a href="#"><img id="bridge" src="{{project.bridge_image}}" alt="Bridge" class=""></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>