<div class="container">
        <h1>Stratagems</h1>
        <label>Filter data by Type</label>
        <select id="stratagemType">
            <option value="all">All</option>
            <option value="Support Weapon">Support Weapon</option>
            <option value="Orbital Cannons">Orbital Cannons</option>
            <option value="Hangar">Hangar</option>
            <option value="Bridge">Bridge</option>
            <option value="Engineering Bay">Engineering Bay</option>
        </select>
        <ul>
            {{#each stratagems as |s|}}
                <ul class="stratagem" data-type="{{s.type}}">
                    <img class="svg" src="/images/stratagems/{{s.filename}}" alt="{{s.name}}">
                    <li>{{s.name}} -</li> 
                    <li>{{s.description}}</li>
                </ul>
            {{/each}}
        </ul>
    </div>

    <script>
        document.getElementById('stratagemType').addEventListener('change', function() {
            let type = this.value;
            let stratagems = document.querySelectorAll('.stratagem');
            stratagems.forEach(function(stratagem) {
                let stratagemType = stratagem.getAttribute('data-type');
                if (type === 'all' || stratagemType === type) {
                    stratagem.style.display = 'block';
                } else {
                    stratagem.style.display = 'none';
                }
            });
        });
    </script>